<div class="row mt-1 mb-1 sub-row-sticky ">
  <div class="col-md-6 col-sm-12 sub-title">
    <button mat-button class="mr-2 util" (click)="goBack()">
      <span class="material-icons">
        keyboard_backspace
      </span>
      Back
    </button>
    <button mat-button color="primary" (click)="loadPrevious()" *ngIf="previousMilestone">
      Load previous Milestone
    </button>
  </div>
</div>
<hr>
<app-milestone-new-add (onConfigSave)="onSave($event)"
  [editingConfig]="milestoneToFill"></app-milestone-new-add>
