.card {
  width: 100%;
}

.vlabel {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #8c8c8c;
}

.val {
  font-family: 'Montserrat', sans-serif;
  color: #86592d;
  font-weight: 500;
  font-size: 1.3rem;
}

.title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 19px;
}

.sub-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #a3297a;
}

.sub-title.percent{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #8c8c8c;
}

.total-comp {
  color: #009933;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.note {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  color: #a6a6a6;
}

.btn-grp {
  display: flex;
  justify-content: space-evenly;
}

.btn-parent {
  display: flex;
  width: 100%;
  justify-content: center;
}

.co-name {
  color: #0073e6;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo-parent {
  display: flex;
  height: auto;
  justify-content: center;
  overflow: hidden;
  opacity: 0.9;
  padding: 10px;
}

.co-logo {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  max-width: 100%;
  height: auto;
  width: 13rem;
}
