<ng-container *ngIf="!noData; else nodata">
  <div class="graph-title center-align secfont mb-3 mt-3">
    Compensation Change by Year
  </div>
  <div class="graph-container mb-5">
    <canvas id="msChartTcChange" class="graph-chart"></canvas>
  </div>

  <div class="graph-title center-align secfont mb-3 mt-3">
    Compensation in Company by Year
  </div>
  <div class="graph-container mb-5">
    <canvas id="msChart" class="graph-chart"></canvas>
  </div>

  <div class="graph-title center-align secfont mb-3 mt-3">
    Tenure Duration by Company
  </div>
  <div class="graph-container mb-5">
    <canvas id="msChartTenure" class="graph-chart"></canvas>
  </div>
</ng-container>

<ng-template #nodata>
  <div class="graph-title secfont mt-3 mb-5 text-center">
    You have not entered any Milestones yet. Graphs will be available when at least one Milestone has been added.
  </div>
  <div class="mb-3 mt-3 center-align">
    <div class="no-data-img-parent mb-3">
      <img [src]="noDataImgSrc" class="img-h-100" alt="no data">
    </div>
  </div>
</ng-template>
