<div class="row mt-3 mb-3" *ngIf="addedMileStone; else noData">
  <div class="col-md-6 col-sm-12">
    <div class="row mb-3">
      <div class="col-sm-12 sub-title">
        You have successfully added a new Milestone!
      </div>
    </div>
    <ng-container *ngFor="let field of dataFields; last as isLast">
      <div class="row mb-3">
        <div class="val-label mb-1">
          {{field}}
        </div>
        <div class="mb-2 value mr-1">
          {{addedMileStone[field].value}}
          <span class="note">
            ({{addedMileStone[field].note}})
          </span>
        </div>
      </div>
      <hr *ngIf="!isLast">
    </ng-container>
  </div>
</div>
<div class="row mb-3 mt-3">
  <div class="col-sm-12">
    <button mat-flat-button color="accent" (click)="edit()" class="mr-3">Edit</button>
    <button mat-flat-button color="primary" (click)="goHome()">Go back Home</button>
  </div>
</div>
<ng-template #noData>
  <div>
    Could not find your recent added Milestone.
  </div>
</ng-template>
