<div class="row mt-3 mb-3" *ngIf="addedMileStone; else noData">
  <div class="col-md-6 col-sm-12">
    <div class="row mb-3">
      <div class="col-sm-12 sub-title">
        You have successfully added a new Milestone!
      </div>
    </div>
  </div>
</div>
<app-milestone-display [config]="addedMileStone"></app-milestone-display>
<div class="row mb-3 mt-3">
  <div class="col-sm-12">
    <button mat-flat-button color="accent" (click)="edit()" class="mr-3">Edit</button>
    <button mat-flat-button color="primary" (click)="goHome()">Go back Home</button>
  </div>
</div>
<ng-template #noData>
  <div>
    Could not find your recent added Milestone.
  </div>
</ng-template>
