/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@300;400;700&family=Quicksand:wght@300;400;500&family=Montserrat:wght@300;400&display=swap');

body {
  /* margin: 0;  */
  font-family: 'Roboto', sans-serif !important;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

button {
  font-family: 'Roboto', cursive !important;
  font-weight: 800 !important;
}

a.btn {
  font-family: 'Roboto', cursive !important;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.osfont {
  font-family: 'Quicksand', sans-serif;
}

.numfont {
  font-family: 'Montserrat', sans-serif;
}

.secfont {
  font-family: 'PT Sans', cursive;
}

a {
  text-decoration: none !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px;
}

.img-h-100 {
  height: 100%;
}

.full-w {
  width: 100% !important;
}

button.mat-flat-button.m-w-btn {
  min-width: 125px;
}

.f-w-800 {
  font-weight: 800;
}

.sub-title {
  font-weight: 800;
}

h2 {
  font-size: 1.5rem !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.center-loading {
  display: flex;
  justify-content: center;
}

.center-align {
  display: flex;
  justify-content: center;
}

.left-align {
  display: flex;
  justify-content: left;
}

.float-right {
  justify-content: flex-end;
}

.v-self-align-center {
  display: flex;
  align-self: center;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}

.solid-underline {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-position: under;
}

.mild-dropshadow {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.mat-snack-bar-container.sb-success {
  background-color: #0066cc;
}

.mat-snack-bar-container.sb-danger {
  background-color: #990000;
}

button.edit-btn {
  background-color: #ffbb33;
  color: #fff;
}

button.util {
  color: #404040;
}

.sub-row-sticky {
  position: sticky;
  top: 8px;
  z-index: 3;
  background-color: #fafafa;
}

hr {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.fa-certificate.cert-icon {
  color: #b3c6ff;
  background-color: #fafafa;
}

.fa-certificate.cert-icon.is-mo {
  padding-left: 8px;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
}

.timeline-header-text {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-self: flex-end;
  padding-right: 10px;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.timeline-logo-parent {
  height: auto;
  overflow: hidden;
  opacity: 0.9;
}

.timeline-co-logo {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  max-width: 100%;
  height: auto;
  width: 5rem;
}

.timeline-header-parent {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-bottom: 5px;
}

.timeline-body-text {
  color: #000;
  font-weight: 400;
  font-family: 'Montserrat';
  letter-spacing: 1px;
}

.text-green {
  color: #29a329;
}

.text-red {
  color: #e62e00;
}
