<div class="row mt-3 mb-3">
  <div class="col-md-6 col-sm-12 sub-title">
    Edit or delete your Milestone entries.
  </div>
</div>

<ng-container *ngIf="!loading; else isLoading">
  <div class="row mt-3 mb-3" *ngFor="let stone of allMilestones">
    <div class="col-md-6 col-sm-12">
      <app-milestone-display [config]="stone" (editAction)="onEdit()"
        (deleteAction)="onDelete()" [enableEditing]="true"></app-milestone-display>
    </div>
  </div>
</ng-container>

<ng-template #isLoading>
  <app-shared-loading></app-shared-loading>
</ng-template>
