<div class="row mt-1 mb-1">
  <div class="col-md-6 col-sm-12 sub-title">
    <button mat-stroked-button class="util" (click)="goBack()">
      <span class="material-icons">
        keyboard_backspace
      </span>
      Back
    </button>
  </div>
</div>
<hr>
<div class="row mt-3 mb-3">
  <div class="col-md-6 col-sm-12 sub-title">
    {{pageTitle}}
  </div>
</div>

<app-milestone-list [loading]="loading"
  [editingMode]="true"
  [allMilestones]="allMilestones"
  (deleteAction)="onDelete($event)"
  (editAction)="onEdit($event)"
></app-milestone-list>
