<ngx-timeline [events]="events" *ngIf="msConfigs && msConfigs.length > 0">
  <ng-template let-event let-index="rowIndex" timelineHeader>
    <div [ngStyle]="{'color': event.header | companyNameColor}" class="timeline-header-parent">
      <div class="timeline-header">
        <div class="timeline-header-text">
          {{event.header}}
        </div>
        <div class="timeline-logo-parent">
          <img [src]="event.header | companyLogoUrl" class="timeline-co-logo" alt="company logo" [title]="event.header">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template let-event let-index="rowIndex" timelineBody>
    <div class="timeline-body-text">
      {{event.body}}
    </div>
  </ng-template>
  <ng-template let-event let-index="rowIndex" timelineFooter>
    <div class="timeline-footer-text" [ngClass]="{'text-green': (+event.footer>0), 'text-red': (+event.footer<=0)}">
      {{+event.footer > 0 ? '+' : ''}}{{event.footer | percent:'1.2-2'}}
    </div>
  </ng-template>
</ngx-timeline>

<ng-template #nodata>
  <div class="graph-title secfont mt-3 mb-5 text-center">
    You have not entered any Milestones yet. Timline will be available when at least one Milestone has been added.
  </div>
  <div class="mb-3 mt-3 center-align">
    <div class="no-data-img-parent mb-3">
      <img [src]="noDataImgSrc" class="img-h-100" alt="no data">
    </div>
  </div>
</ng-template>
