<ng-container *ngIf="!loading; else loadingData">
  <ng-container *ngIf="(allMilestones.length > 0); else noMs">
    <div class="row mt-3 mb-3" *ngFor="let stone of allMilestones; index as i">
      <div class="col-md-6 col-sm-12">
        <app-milestone-display [config]="stone" [enableEditing]="false"></app-milestone-display>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-template #noMs>
  <app-personal-empty></app-personal-empty>
</ng-template>


<ng-template #loadingData>
  <app-shared-loading></app-shared-loading>
</ng-template>
